.addUsersBtnContainer {
  display: flex;
  justify-content: space-evenly;
  & button {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s background-color ease-in-out;
    &:hover {
      background-color: #c6c6c6;
    }
  }
}
.btnDisabled {
  background-color: #c6c6c6;
  cursor: default !important;
  &:hover {
    cursor: default !important;
  }
}
