.wrapper {
  padding: 0 10px;
}
.userContainer {
  margin: 15px 0;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px #9393931a;
  transition: 0.2s background-color ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #4e4e4e91;
  }
}
